<bp-toolbar titulo="ACERCA DE"></bp-toolbar>

<!-- Themes Login + logo -->
<ion-content white-background>
  <ion-grid>

    <ion-row wrap padding>
      <ion-col size="12">

          <div class="title-components">Acerca del autor:</div>

          <p class="parrafo">Aplicación desarrollada por Juan Antonio Ibáñez Santórum (<a href="" onclick="window.open('https://twitter.com/juanantoniois', '_system', 'location=yes'); return false;">@juanantoniois</a>)</p>

          <p class="parrafo">E-mail: info@opecalc.es</p>

          <p class="parrafo">Twitter: <a href="" onclick="window.open('https://twitter.com/opecalc', '_system', 'location=yes'); return false;">@opecalc</a></p>

          <p class="parrafo">VERSION: {{ mS.version }}</p>

      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>