<ion-app>
  <ion-split-pane when="md">
    <ion-menu>
      <ion-header header-background-image [ngStyle]="{'background-image': 'url(' + params.background + ')'}">
        <ion-thumbnail>
          <img src="{{ params.image }}">
        </ion-thumbnail>
        <h2 item-title text-center>{{params.title}}</h2>
        <!--<h2 error-title text-center>¡Registrese para ver todos los productos!</h2>-->
      </ion-header>
      <ion-content main-menu>
        <ion-list no-margin no-padding lines="none">

          <!-- MIS PLANTILLAS -->
          <ion-item routerLink="/listado-plantillas-usuario" routerDirection="forward">
            <ion-icon name="today" icon-menu-small></ion-icon>
            <ion-label>Mis Plantillas</ion-label>
          </ion-item>

          <!-- OPEs -->
          <ion-item routerLink="/registrar-telefono" routerDirection="forward">
            <ion-icon name="filing" icon-menu-small></ion-icon>
            <ion-label>OPEs</ion-label>
          </ion-item>

          <!-- CALCULADORA -->
          <ion-item routerLink="/listado-calculadoras" routerDirection="forward">
            <ion-icon name="calculator" icon-menu-small></ion-icon>
            <ion-label>Calculadora</ion-label>
          </ion-item>

        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>