<bp-toolbar titulo="INICIO" boton="menu"></bp-toolbar>

<!--Fist Screen Content-->
<ion-content has-header>

  <ion-grid>

    <ion-row>

      <!-- PLANTILLAS -->
      <ion-col size="4">
        <button boton-menu (click)="onClickMisPlantillas()">
          <ion-icon name="today"></ion-icon>
          <span texto-boton>Mis Plantillas</span>
        </button>
      </ion-col>
      <!-- FIN: PLANTILLAS -->

      <!-- OPEs -->
      <ion-col size="4">
        <button boton-menu (click)="onClick()">
          <ion-icon name="filing"></ion-icon>
          <span texto-boton>OPEs</span>
        </button>
      </ion-col>
      <!-- FIN: OPEs -->

      <!-- CALCULADORA -->
      <ion-col size="4">
        <button boton-menu (click)="onClickCalculadora()">
          <ion-icon name="calculator"></ion-icon>
          <span texto-boton>Calculadora</span>
        </button>
      </ion-col>
      <!-- FIN: CALCULADORA -->      

    </ion-row>

  </ion-grid>

</ion-content>